*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Kufi Arabic', sans-serif;
    box-sizing: border-box;
    direction: rtl
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('./images/Main222.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%
}
.sub-menu-1 {
  display: none;
  position: absolute;
  background-color: #0b1952;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}
.sub-menu-1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.page2:hover .sub-menu-1 {display: block;}
}
.page2 a{
    color: #fff
}
.page2{
    cursor: default
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.TheText2 {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.TheText2 h1{
    font-size: 36px;
    font-weight: 600;
}
.TheText2 p{
    font-size: 25px;
    font-weight: 400;
    line-height: 22px;
    padding: 14px;
    padding-bottom: 15px;
}
.Tab2 {
    background-image: linear-gradient(rgba(247,236,193,0.3),rgba(247,236,193,0.3))
}
.row {
    margin-top: 5%;
    justify-content: center;
    display: flex;
}
.Text-row {
    flex-basis: 70%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 5px 12px;
    box-sizing: border-box;
    transition: 0.5;
}
.Text-row:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2)
}
.Text-row p {
    font-size: 15px
}
.uio{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
}
.TText1{
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 35px;
}
.Tab3 {
    background-image: linear-gradient(rgba(247,236,193,0.3),rgba(247,236,193,0.3))
}
.nnttyy {
    display: none
}
.nntty {
    display: none
}

@media(max-width: 700px) {
    .text-box h1{
    font-size: 30px;
}
    .nav-links ul li{
        display: block
    }
    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .sub-menu-1 {
        display: block;
        background: #f44336;
        }
    .sub-menu-1 a {
        display: block;
    }
    .nnttyy {
        display: block;
        width: 10%;
        cursor: pointer;
        }
    .nntty {
    display: block;
        width: 15%;
        cursor: pointer;
        }
}